<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glfw" version="3.3.0.1" targetFramework="native" />
  <package id="unofficial-flayan-glew" version="2.1.0" targetFramework="native" />
  <package id="unofficial-flayan-glew.redist" version="2.1.0" targetFramework="native" />
</packages>